html,
body {
  height: 100%;
}

body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

#seperator{
  font-size: 3em;

}

.signup input[type="text"] {
  margin: 5px 0;
  
}
.signup input[type="password"] {

  margin: 5px 0 10px 0;
  
}

.login input[type="text"] {
  margin: 5px 0;
  
}
.login input[type="password"] {

  margin: 5px 0 10px 0;
  
}
