

#container_canvas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table{
  
	width: 800px;
  
}

td{
  
  height: 20px;
}
