html,
body {
  height: 100%;
}


/* #myCanvas{
    border: 1px solid black;
    width: 500px;
    height: 400px;
} */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  
	width: 800px;
  
}

td{
  height: 20px;
  
	
}



.navbar{
  display: flex;
  justify-content: center;
}

.navbar-nav{
  display: flex;
  flex-direction: row;
  flex-basis: 30vw;
  justify-content: space-evenly;


}

#container_canvas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}