<!DOCTYPE html>
<html lang="en">

<head>
  <title>main page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
<!--    <section id="container_nav">-->
<!--        <nav class="navbar">-->
<!--            <ul class="navbar-nav">-->
<!--                <li><a href="http://127.0.0.1:5000/home">Home</a></li>-->
<!--                <li><a href="http://127.0.0.1:5000/profile">Profile</a></li>-->
<!--                <li><a href="http://127.0.0.1:5000/login">Login</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--        -->
<!--    </section>-->
    {% extends "bootstrap/base.html" %}
    {% block navbar %}
    {{ nav.mynavbar.render() }}
    {% endblock %}

    {% block content %}
    <section id="container_canvas">
        
        <h1>Canvas</h1>
        <canvas id="myCanvas"></canvas>
    </section>
    {% endblock %}

</body>