<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello</title>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="../static/css/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    

    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    
        table{
          
            width: 800px;
      
        }
        td{
          height: 20px;
        }

        
    </style>

    <script type="text/javascript">
    
        function id_color_array() {
            let pixels={};
            const cells = document.querySelectorAll('.cell');
            for (i = 0; i < cells.length; i++) {
              cells[i].id="p"+i;
              if (cells[i].style.backgroundColor != ""){
                //id_color_cell.push(["p"+i,cells[i].style.backgroundColor])
                pixels['p'+i] = cells[i].style.backgroundColor;
              }
            }
            const data = JSON.stringify(pixels);
            const xhr = new XMLHttpRequest();
    
            xhr.open("POST", "/canvas/home");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(data);
    
            document.getElementById("demo").innerHTML = pixels;
        }
        

        // need to alter here
        function load(){
          let pixels={};
          const cells = document.querySelectorAll('.cell');
          for (i = 0; i < cells.length; i++) {
            cells[i].id="p"+i;                          // setting IDs for the cells
          }
          let data;
    
          const xhr = new XMLHttpRequest();
          xhr.open("GET", "/canvas/home", true);        // making GET request
          xhr.send();
    
          xhr.onload = function(){
            data = JSON.parse(xhr.responseText);
            let keys = Object.keys(data);
            for (let i=0; i < keys.length; i++){
              let color = data[keys[i]];                // changing the color with the data received
              document.getElementById(keys[i]).style.backgroundColor = color;
            }
          }
        }
    </script>
</head>
<body onload="load()">

    {% extends "bootstrap/base.html" %}
    {% block navbar %}
    {{ nav.mynavbar.render() }}
    {% endblock %}

    {% block content %}
    <section id="container_canvas">

        <h1>My Pixel Canvas</h1>
        <table id="myCanvas">

        </table>
    </section>

    <!-- <button type="button" onclick="id_color_array()">save</button> -->
    
    <script type="text/javascript" src="{{ url_for('static', filename='profile.js') }}"></script>
    {% endblock %}

</body>
</html>